
*.json~3ffa496603cbfa9eb9402ca6dea12691bcee6a86
.vs/Goats-Mod-Compilation/v16/Browse.VC.db
.vs/Goats-Mod-Compilation/v16/Browse.VC.db-shm
.vs/Goats-Mod-Compilation/v16/Browse.VC.opendb
.vs/Goats-Mod-Compilation/v16/Browse.VC.db-wal
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug (default)/.cmake/api/v1/reply/cache-v2-96cf21843368a3244330.json
out/build/x64-Debug (default)/.cmake/api/v1/reply/cmakeFiles-v1-48ad66718e29cd7a504a.json
out/build/x64-Debug (default)/.cmake/api/v1/reply/codemodel-v2-8e4fa43f57dd4dd21b13.json
out/build/x64-Debug (default)/.cmake/api/v1/reply/index-2020-08-15T20-46-28-0387.json
Tools/format/json_formatter.exe
style-json.ps1
Scripts/lint-json.sh
.vs/tasks.vs.json
.vs/Goats-Mod-Compilation/v16/ipch/AutoPCH/1c754cc8dcea8f6d/FORMAT.ipch
.vs/Goats-Mod-Compilation/v16/.suo
.vs/CMake Overview
.vs/slnx.sqlite-journal
